<div class="layout-wrapper min-h-screen bg-secondary-50/70 dark:bg-gray-900/70">
    <!-- Top Menu -->
    <div class="layout-topbar bg-surface-card/90 dark:bg-gray-800/90 backdrop-blur-sm shadow-sm">
        <p-menubar [model]="menuItems" styleClass="border-none">
            <ng-template pTemplate="start">
                <div class="flex items-center ">
                   <img src="../../../../assets/logosm.png" class="logo-icon "  alt="logo livria">
                <img src="../../../../assets/logo.png" class="logo-icon-2" alt="logo livria">
            </div>
            </ng-template>
            <ng-template pTemplate="end">
                <div class="flex items-center gap-3 sm:px1 md:px-3">
                    <p-button icon="pi pi-bell" [text]="true" [rounded]="true" severity="secondary">
                    </p-button>
                    <p-avatar label="U" styleClass="bg-primary-500 text-white" shape="circle">
                    </p-avatar>
                </div>
            </ng-template>
        </p-menubar>
    </div>

    <!-- Main Content -->
    <div class="layout-main">
        <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <div
        class="layout-footer bg-surface-card/90 dark:bg-gray-800/90 border-t border-surface-border py-4 px-6 text-center">
        <p class="text-sm text-secondary">
            LIVRIA © 2025 | Sua biblioteca literária social
        </p>
    </div>
</div>