<div class="card">
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center mb-4 gap-4 md:gap-0">
        <h3 class="text-xl font-semibold text-primary-700 dark:text-primary-300 font-heading">Capítulos</h3>
    </div>

    <p-table [value]="chapters" [paginator]="false" [rows]="chapters.length || 0" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 60px;">#</th>
                <th>Título</th>
                <th>Status</th>
                <th>Falas</th>
                <th style="width: 180px;">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-chapter>
            <tr>
                <td>
                    <span class="font-bold text-lg text-primary-600 dark:text-primary-400">{{ chapter.orderIndex }}.</span>
                </td>
                <td>
                    <span class="font-medium text-lg text-gray-900 dark:text-gray-100">{{ chapter.title }}</span>
                </td>
                <td>
                    <p-tag [value]="getStatusLabel(chapter.status)" [severity]="getStatusSeverity(chapter.status)" styleClass="text-sm"></p-tag>
                </td>
                <td>
                    <span class="text-sm text-gray-500 flex items-center gap-1" *ngIf="chapter.speeches">
                        <i class="pi pi-comments text-xs"></i>
                        {{ chapter.speeches.length }} falas
                    </span>
                </td>
                <td>
                    <div class="flex gap-2 justify-end">
                        <button pButton icon="pi pi-spin pi-cog" class="p-button-text p-button-rounded p-button-lg md:p-button-md"
                            (click)="viewChapter(chapter)" pTooltip="Gerenciar"  tooltipPosition="top"></button>
                        <button pButton icon="pi pi-pencil"
                            class="p-button-text p-button-rounded p-button-lg md:p-button-md" (click)="editChapter(chapter)"
                            pTooltip="Editar" tooltipPosition="top"></button>
                        <button pButton icon="pi pi-trash"
                            class="p-button-text p-button-rounded p-button-danger p-button-lg md:p-button-md"
                            (click)="deleteChapter(chapter)" pTooltip="Excluir" tooltipPosition="top"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>